XAI_API_KEY=token
XAI_MODEL=grok-4.3

OLLAMA_URL=                       
OLLAMA_EMBED_MODEL=nomic-embed-text
OLLAMA_MODEL=llama3.1:latest          
OLLAMA_HOST=http://localhost:11434

ANTHROPIC_API_KEY=
OPENAI_API_KEY=      
GOOGLE_API_KEY=

DEFAULT_MODEL_PROVIDER=

SYSTEM_PROMPT_GROK=system_prompt_grok.txt
SYSTEM_PROMPT_OLLAMA=system_prompt_ollama.txt

NGROK_AUTHTOKEN=token
NGROK_DOMAIN=same_as_mcp_public_url_without!!!_https://

MCP_API_KEY=token
MCP_BASE_URL=http://localhost:8321/mcp
MCP_PUBLIC_URL=https://your-free-ngrok-domain.ngrok-free.dev

SEARXNG_URL=http://searxng-container-name:docker-port

BROWSERLESS_URL=http://browserless-container-name:docker-port
BROWSERLESS_TOKEN=token